<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
 * ShipStation
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@auctane.com so we can send you a copy immediately.
 *
 * @category   Shipping
 * @package    Auctane_Api
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 -->
<config>
	<sections>
		<sales>
			<groups>
				<auctaneapi translate="label" module="auctaneapi">
					<label>Auctane Shipstation API</label>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<customattributes translate="label">
							<label>Export custom attributes as custom options</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>auctaneapi/system_source_config_customattributes</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</customattributes>
					</fields>
				</auctaneapi>
			</groups>
		</sales>
	</sections>
</config>
