<?xml version="1.0"?>
<config>
    <modules>
        <MagenThemes_FilterPrice>
            <version>2.0.0</version>
        </MagenThemes_FilterPrice>
    </modules>
    <frontend>
        <routers>
            <filterprice>
                <use>standard</use>
                <args>
                    <module>MagenThemes_FilterPrice</module>
                    <frontName>filterprice</frontName>
                </args>
            </filterprice>
        </routers>
        <layout>
            <updates>
                <filterprice>
                    <file>magenthemes_filterprice.xml</file>
                </filterprice>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	       <filterprice>
				<use>admin</use>
				<args>
				    <module>MagenThemes_FilterPrice</module>
				    <frontName>filterprice</frontName>
				</args>
	       </filterprice>
        </routers>
    </admin>
    <adminhtml>
		<layout>
		    <updates>
			<filterprice>
			    <file>filterprice.xml</file>
			</filterprice>
		    </updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <filterprice>
                <class>MagenThemes_FilterPrice_Model</class>
            </filterprice>
        </models>
        <resources>
            <filterprice_setup>
                <setup>
                    <module>MagenThemes_FilterPrice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filterprice_setup>
            <filterprice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </filterprice_write>
            <filterprice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </filterprice_read>
        </resources>
        <blocks>
            <filterprice>
                <class>MagenThemes_FilterPrice_Block</class>
            </filterprice>
        </blocks>
        <helpers>
            <filterprice>
                <class>MagenThemes_FilterPrice_Helper</class>
            </filterprice>
        </helpers>
    </global>
    <default>
		<filterprice>
		    <filterprice_config>
		    	<enable_filterprice>1</enable_filterprice>
                <enable_ajaxwishlist>1</enable_ajaxwishlist>
                <enable_ajaxcompare>1</enable_ajaxcompare>
		    </filterprice_config>
		</filterprice>
    </default>
</config>